@import url(normalize.css);

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Reusable color variables */
:root {
    --text-color: #000000;
    --text-color--accent: #FFFFFF;
    --background-color: #FFFFFF;
    --info-color: #E8EEF1;
    --accent-color: #9E0025;
    --focus-color: #3498db;
}

.skip-to-main-content-link {
    display: none;
  }

/* Body */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    min-height: 100vh;
    font-size: 1.1rem;
    line-height: 1.65;
}

main{
    padding-bottom: 1em;
}

/* Typography */
h1, h2, h3 {
    font-weight: 700;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 0.3rem;
    line-height: normal;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.375rem;
}

p{
    margin-top:0;
    margin-bottom: 0.5rem;
}

img {
    width: 100%;
}

i{
    margin-right: 0.2rem;
}

textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    width: 100%;
}

legend{
    font-weight: 700;
}

.form--radio{
    width: fit-content;
}


.center--text{
    text-align: center;
}
.text__link{
    color: var(--accent-color);
    font-weight: 700;
}

.register__form{
    background-color: var(--info-color);
    padding:1rem;
}

.register__form--radio-container{
    display: flex;
    align-items: center;
}

.register__form--radio-container + .register__form--radio-container{
    margin-top: 0.5rem;
}

input[type=radio]{
    width: 24px;
    height: 24px;
    margin-right: 0.5em;
}

input[type=time], input[type=date]{
    background-color: white;
}

.booking__form--adress{
    display: grid;
    grid-template-areas: 
    "adress arrow"
    "adress arrow";
}
.booking__form--adress-wrapper{
    grid-area: adress;
}

#weekInput{
    width: fit-content;
    text-align: center;
}

.bookin__form--weekdays{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.bookin__form--weekdays div{
    display: flex;
    align-items: center;
}

.bookin__form--weekdays label{
    margin-left: 0.2rem;
    font-weight: 400;
}

.bookin__form--weekdays input[type=checkbox]{
    width: auto;
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}


#adressShift{
    color: var(--accent-color);
    display: block;
    grid-area: arrow;
    margin-top: 1.1rem; /*Taking to account height of text*/
    margin-left: 1rem;
    align-self: center;
    border: none;

}
.ri-arrow-up-down-fill{
    
    text-align: center;
    border: 1px solid var(--accent-color);
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
}

/* Container */
.container--l {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.container--m{
    max-width: 575px;
    margin: 0 auto;
}


.info__card{
    background-color: var(--info-color);
    padding: 1rem;
    max-width: 375px;
}


/* HEADER */
header{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header__logo{
    width: 100%;
}
.header__logo--link{
    max-width: 200px;
    display: flex;
}

.header__main{
    border-bottom:1px solid black ;
}

.header__main--flex{
    display: flex;
    justify-content: space-between;
}

.menu__secondary{
    width: 100%;
    min-height: 3rem;
    background-color: var(--accent-color);
    
}

.menu__secondary--list{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    text-align: center;
    padding-inline-start: 0;
}

.menu__secondary--item{
    display: block;
    padding: 0.5rem;
    margin: auto;
}

.menu__secondary--link{
    color: var(--text-color--accent);
    text-decoration: none;
}

.menu__secondary--link--active{
    color: var(--text-color--accent);
    font-weight: 700;
    text-decoration: underline;
}

.menu__secondary--link:hover{
    color: var(--text-color--accent);
    text-decoration: underline;
}

/* Navigation */
.nav {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--accent-color);

}

.nav__list {
    margin-top: 10vh;
    padding: 0;
    list-style-type: none;

}

.nav__item {
    font-size: 2rem;
}

.nav__link {
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    width: 100%;
    color:var(--text-color--accent);

}

.nav__link--active {
    display: block;
    padding: 0.5em 1em;
    width: 100%;
    color:var(--text-color--accent);
}


/* Menu Button */
.menu__btn {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0.5em 1em;
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    gap: 1rem;
}

.bars {
    display: block;
    width: 1.25rem;
    height: 0.1875rem;
    background-color: black;
    margin: 3px 0;
}

/* Close Button */

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin:1.5rem;
    background-color: transparent;
}

/* Cross */
.cross1, .cross2 {
    width: 25px;
    position: relative;
    background-color: var(--text-color--accent);
}

.cross1 {
    transform: rotate(45deg);
    top: 5px;    
}

.cross2 {
    transform: rotate(135deg);
    top: -1px;
}



/* LOGIN */
.login{
    background-color: var(--info-color);
    padding: 1.25rem;
    max-width: 375px;
    margin-bottom: 2em;
}

.login__title{
    padding: 0;
    margin: 0;
}

.login__form{
    margin-top: 2em;
    margin-bottom: 1em;
}

input{
    width: 100%;
    padding: 0.5rem;
    border: transparent;
}

label{
    font-weight: 700;
}

a:focus, button:focus, input:focus, textarea:focus {
    outline: 2px solid var(--focus-color); 
}

.button--primary{
    padding: 0.5rem 1rem;
    background-color: var(--accent-color);
    border: none;
    color: var(--text-color--accent);
    margin-top: 1em;
    cursor: pointer;
    text-decoration: none;
}

.travel__info{
    background-color: var(--info-color);
    max-width: 575px;
    padding-bottom: 2rem;
    margin-bottom: 1em;
}

.travel__info--info{
    padding: 1rem;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas: 
        "date"
        "exit"
        "return"
        "extra"
        "buttons";
}

.travel__info--trip h3{
    margin-top: 0;
}

.travel__info--date{
    grid-area: date;
}

.travel__info--tag{
    background-color: var(--accent-color);
    color: var(--text-color--accent);
    padding: 0rem 0.5rem;
    font-size: 1rem;
    width: fit-content;
}

.travel__info--tag i{
    font-size: 1rem;
}

.travel__info--buttons{
    grid-area: buttons;
    margin-top: 1em;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.travel__info--buttons a + a{
    margin-top: 1rem;
}

.travel__card{
    background-color: var(--info-color);
    max-width: 575px;
    padding-bottom: 2rem;
    margin-bottom: 1em;
}

.travel__card--info{
    padding: 1rem;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas: 
        "date"
        "exit"
        "return"
        "buttons";
        border-bottom: 1px dashed black;
}

.travel__card--trip h3{
    margin-top: 0;
}

.travel__card--date{
    grid-area: date;
}

.travel__card--tag{
    background-color: var(--accent-color);
    color: var(--text-color--accent);
    padding: 0rem 0.5rem;
    font-size: 1rem;
    width: fit-content;
}

.travel__card--tag i{
    font-size: 1rem;
}

.travel__card--buttons{
    grid-area: buttons;
    margin-top: 1em;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.travel__card--buttons a + a{
    margin-top: 1rem;
}

.exit{
    grid-area: exit;
}

.return{
    grid-area: return;
}


.confirmation__card{
    padding: 1rem;
    background-color: var(--info-color);
}

footer{
    background-color: var(--accent-color);
    margin-top: auto;
    padding-bottom: 1em;
    color: var(--text-color--accent);
    line-height: 1;
}

.footer__heading{
    font-weight: 700;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.375rem;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
}

footer a{
    color: var(--text-color--accent);
}

.footer__logo{
    max-width: 200px;
    margin-top: 1rem;
}

.footer__info--list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__info--list li + li{
    margin-top:0.5rem;
}


/* Media Queries */

@media screen and (min-width: 700px) {

}


@media screen and (min-width: 900px) {
    /* Skip to main content */
    .skip-to-main-content-link {
        display: inline;    
        background: var(--accent-color);
        color: var(--text-color--accent);
        height: 30px;
        left: 50%;
        padding: 8px;
        position: absolute;
        transform: translateY(-100%);
        transition: transform 0.3s;
      }
    
      .skip-to-main-content-link:focus {
        transform: translateY(0%);
      }

    .flex--desktop{
        display: flex;
        justify-content: space-between;
    }
    i{
        font-size: 1rem;
    }
    /* Navigation*/
    .nav {
        display: flex !important;
        position: static;
        align-items: center;
        background-color: transparent;
        width: auto;
        top: 0;
        height: auto;
    }

    .nav__list {
        display: flex;
        margin-top: 1rem;
    }
    .nav__item {
        font-size: 1.1rem;
    }
    

    .nav__link{
        color: #000;
    }
    .nav__link:hover {
        color: var(--accent-color);
        width: 100%;
        display: block;
        text-decoration: underline;
        background-color: var(--info-color);
    }
    
    .nav__link--active {
        display: block;
        text-decoration: underline;
        color: var(--accent-color);
        font-weight: 700;
        padding: 0.5em 1em;
        width: 100%;
        background-color: var(--info-color);
    }

    /* Hide menu button */
    .menu__btn {
        display: none;
    }

    .grid--two-column{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .info__card{
        max-width: 500px;
        margin-right: 0;
    }

    .login{
        margin-left: 0;
        margin-bottom: 0;
    }
    
    .travel__card--info{
        padding: 1rem 2rem;
        grid-template-areas: 
        "date date"
        "exit return"
        "buttons buttons";
    }

    .travel__card--buttons{
        display: block;
    }
    .travel__card--buttons a + a{
        margin-left: 1.5rem;
    }

    .travel__info--info{
        padding: 1rem 2rem;
        grid-template-areas: 
        "date date"
        "exit return"
        "extra extra"
        "buttons buttons";
    }

    .travel__info--buttons{
        display: block;
    }
    .travel__info--buttons a + a{
        margin-left: 1.5rem;
    }

    footer{
        background-color: var(--accent-color);
        padding: 1em;
        margin-top: auto;
        color: var(--text-color--accent);
        line-height: 1;
    }

    .footer__heading{
    margin-top: 0;
 } 

}